<div class="ui container">
  <h1>Original#index</h1>
  <p>Find me in app/views/original/index.html.erb</p>
  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui relaxed divided list">
        <% @originals.each do |original| %>
          <div class="item">
            <i class="caret right icon"></i>
            <div class="content">
              <%= link_to original.name, original, class: "header" %>

            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="eight wide column">

    </div>
  </div>
</div>
