<div class="ui attached segment">
  <h1>Original#show</h1>
  <p>Find me in app/views/original/show.html.erb</p>
  <div class="ui divided items">
    <%= render partial: 'product/product', collection: @originals_products %>
  </div>
</div>

