<div class="ui container">
  <h1>Manufacturer#index</h1>
  <p>Find me in app/views/manufacturer/index.html.erb</p>
  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui relaxed divided animated list">
        <%= render partial: 'manufacturer/manufacturer', collection: @manufacturers %>
        <div class="item"></div>
      </div>
    </div>
  </div>
</div>
