<div class="ui top attached stackable five item menu">
    <a class="item">Home</a>
    <a class="item">Registration/My Account</a>
    <a class="item">FAQ</a>
    <a class="item">Contact Us</a>
    <a class="item">About Us</a>
</div>
