<div class="ui attached segment">
  <%= form_tag product_product_results_path, method: 'get', class: 'ui form' do %>
    <div class="ui fluid action input">
      <input type="text" name="search_keywords" id="search_keywords" placeholder="Search...">
      <button class="ui button" type="submit" name="search">Search</button>
    </div>
  <% end %>
</div>