<div class="ui attached segment">
  <h1>Product#results</h1>
  <p>Find me in app/views/product/product_results.html.erb</p>
  <div class="ui divided items">
    <%= render partial: 'product', collection: @found_products %>
  </div>
</div>
